{% extends "extend.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block style %}
  .btnCheckout{
    background-color: #ff9200 !important;
    color: white;
  }
{% endblock %}
{% block content %}
    <section id="cart">
        <div class="container py-5">
            <div class="row">
                  <div class="col-md-8 mb-4">
                    <div class="card mb-4">
                      <div class="card-header py-3">
                        <h5 class="mb-0">Order details</h5>
                      </div>
                      <div class="card-body">
                        <form method="post" action="{% url 'order_confirmation' %}">
                          <!-- 2 column grid layout with text inputs for the first and last names -->
                           {% csrf_token %}
                          <div class="row mb-4">
                            <div class="col">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form7Example1" class="form-control"  value="{{ request.user.first_name }}"/>
                                <label class="form-label" for="form7Example1">First name</label>
                              </div>
                            </div>
                            <div class="col">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form7Example2" class="form-control" value="{{ request.user.last_name }}"/>
                                <label class="form-label" for="form7Example2">Last name</label>
                              </div>
                            </div>
                          </div>

                          
                          
                            <div class="d-flex w-100">
                              <div class="w-75">
                                <select name="address" class="form-control">
                                  {% for i in details %}
                                  <option value="{{ i.street }}, {{ i.city }}, {{ i.district }}, {{ i.zipcode }}, {{ i.phone_number }}" {% if i.id == selected_address_id %}selected{% endif %}>
                                    {{ i.street }}, {{ i.city }}, {{ i.district }}, {{ i.zipcode }}, {{ i.phone_number }}
                                  </option>
                                  <!-- <option value="{{ i.street }},{{ i.city }},{{ i.district }},{{ i.zipcode }},{{ i.phone_number }}">{{ i.street }},{{ i.city }},{{ i.district }},{{ i.zipcode }},{{ i.phone_number }}</option> -->
                                  {% endfor %}
                                </select>
                                <label>Address:</label>
                              </div>
                              <div class="w-25">
                                <button type="button" id="addAddressBtn" data-bs-toggle="modal" data-bs-target="#addAddressModal" class="btn btn-primary text-white ml-2" style="color: white !important;">New address</button>
                              </div>
                            </div>
                            
                          <!-- Text input -->
                          <!-- <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="form7Example4" class="form-control" value="{{ i.street }},{{ i.city }},{{ i.district }},{{ i.zipcode }}"/>
                            <label class="form-label" for="form7Example4">Address</label>
                          </div> -->

                          <!-- Email input -->
                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form7Example5" class="form-control" value="{{ request.user.email }}"/>
                            <label class="form-label" for="form7Example5">Email</label>
                          </div>

                          <button type="submit" class="btn btnCheckout">Proceed to checkout</button>

                        </form>
                      </div>
                    </div>
                  </div>

                 <div class="col-lg-4 order-lg-2 mb-4 r-cart">
                    <div class="card shadow-sm">
                        <div class="card-body">
                          
                            {% if cart_items %}
                            <h5 class="card-title mb-4">Order Summary</h5>
                            <div class="d-flex justify-content-between mb-3">
                                <span>Items ({{ item_count }})</span>
                                <span>₹{{ total_cart_price }}</span>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <span>Shipping</span>
                                <span>₹{{ shipping_charge }}</span>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <span>Tax</span>
                                <span>₹{{ tax_amount }}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between mb-4">
                                <span class="fw-bold">Total</span>
                                <span class="fw-bold">₹{{ grand_total }}</span>
                            </div>
                             {% endif %}
                        </div>
                    </div>

                </div>
                </div>

        </div>

    </section>


<!-- Add Address Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressLabel">Add Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'save_address' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url 'checkout_view' %}">
                    <div class="input-group">
                        <span class="input-group-text">+91</span>
                        <input type="tel" name="phone_number" class="form-control" id="phone" 
                               pattern="\d{10}"minlength="10" maxlength="10"
                               title="Please enter a 10-digit phone number" 
                               placeholder="Enter 10-digit number" 
                               required>
                    </div>

                    <label>Street:</label>
                    <input type="text" name="street" class="form-control" required>

                    <label>City:</label>
                    <input type="text" name="city" class="form-control" required>

                    <label>District:</label>
                    <input type="text" name="district" class="form-control" required>

                    <label>Zip Code:</label>
                    <input type="text" minlength="6" maxlength="6" name="zipcode" class="form-control" pattern="\d{6}" title="Please enter a 6-digit phone number" placeholder="Provide 6 digit number" required>

                    <label>Address Type:</label>
                     <select name="address_type" class="form-control">
                        <option value="1" >Permanent</option>
                        <option value="2" >Temporary</option>
                    </select>

                    <button type="submit" class="btn btn-success mt-3">Save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
document.querySelectorAll(".size-selector").forEach((selectElement) => {
    selectElement.addEventListener("change", function() {
        const selectedSize = this.value;
        const itemId = this.getAttribute("data-item-id");

        if (itemId) {
            const updateUrl = `/update_size/${itemId}/?size=${selectedSize}`;

            fetch(updateUrl, { method: 'GET' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.message);
                })
                .catch(error => console.error('Error:', error));
        } else {
            console.error('Item ID is missing!');
        }
    });
});
{% endblock %}

